<hr class="border border-primary">

<p class="display-4">Insert coin</p>

<div class="d-flex justify-content-center bg-secondary mb-3">
    <button type="button" class="btn btn-primary m-3" (click)='addBalance(.20)'>20c</button>
    <button type="button" class="btn btn-primary m-3" (click)='addBalance(.50)'>50c</button>
    <button type="button" class="btn btn-primary m-3" (click)='addBalance(1)'>$1</button>
    <button type="button" class="btn btn-primary m-3" (click)='addBalance(2)'>$2</button>
</div>

<p class="display-4">Available balance: {{_balance | currency:'USD'}}</p>